<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP Lookup</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="search-box">

    <h1> IP Lookup</h1>

    <p class="subtitle">
        Find location and ISP information.
    </p>

    <form method="POST"  id="lookupForm">

        <input
            type="text"
            name="ip"
            placeholder="Enter IP Address (8.8.8.8)"
            required
        >

        <button type="submit" id="loockupBtn">
             Lookup
        </button>

    </form>

</div>

{% if result %}

<div class="result-card">

    <h2>IP Lookup Result</h2>

    <div id="result">

<div class="info-grid">

{% for key, value in result.items() %}

<div class="info-card">

<h3>{{ key }}</h3>

<p>{{ value }}</p>

</div>

{% endfor %}

</div>

</div>

<div class="button-group">

    <button onclick="copyResult()">📋 Copy Result</button>

    <a href="/dashboard" class="back-btn">⬅ Back to Dashboard</a>

</div>
</div>

{% endif %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<footer>
    <p>© 2026 AI Dork Builder </p>
</footer>

</body>
</html>